{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title> Entry Exit System </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="JavaScript" href="{% static "/js/onclick.js" %}" type="text/JavaScript">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
  (function(){
     $('form').on('submit', function(e){
         e.preventDefault();
         $.ajax({
             url: $(#static/js/onclick.js).attr('action'),
             method: $(#form).attr('method'),
             success: function(data){ $('#div1').html(data) }
         });
     });
});

  </script>
  <script>
  (function(){
     $('form').on('click', function(e){
         e.preventDefault();
         $.ajax({
             url: $(static/js/onclick.js).attr('action'),
             method: $(#form).attr('method'),
             success: function(data){ $('#div2').html(data) }
         });
     });
});

  </script>


</<head>
<body>
  <div class="page">
  <div class="page bg-white">
  <div class="page-header">
    <h2 class="page-title">Entry/Exit Manager</h2>
  </div>

    <table class="table is-indent" data-plugin="animateList" data-animate="fade" data-child="tr"
      data-selectable="selectable">
      <thead class="thead-dark">
        <tr>
          <th class="cell-300" scope="col">Entry/Exit</th>
          <th class="cell-300" scope="col">Name</th>
          <th class="cell-300" scope="col">ID</th>
          <th class="cell-300" scope="col">Age</th>
          <th scope="cell-300" scope="col">DOB</th>
          <th class="cell-300" scope="col">Gate Number Entry</th>
          <th class="cell-300" scope="col">Entry Time</th>
          <th class="cell-300" scope="col">Exit Time</th>


        </tr>
      </thead>
      {% for object in qs %}
      <tbody>
        <tr data-url="panel.tpl" data-toggle="slidePanel">

          <td class="cell-600"><form action="{% url 'entryexit' %}" method="POST">
    <input id="submit" type="button" value="Enter" data_url/>
</form>
<form action="{% url 'entryexit' %}" method="POST">
    <input id="click" type="button" value="Exit" data_url/>
</form></td>
          <td class="cell-300">{{ object.name }}</td>
          <td class="cell-300">{{ object.id }}</td>
          <td class="cell-300">{{ object.age }}</td>
          <td class="cell-200">{{ object.dob }}</td>
          <td class="cell-100">{{ object.gate_entry_number }}</td>
          <td id="div1" class="cell-100">{{ object.entry_timestamp }}</td>
          <td id="div2" class="cell-100">{{ object.exit_timestamp}}</td>


        </tr>
      </tbody>
      {% endfor %}

    </table>

    <ul data-plugin="paginator" data-total="50" data-skin="pagination-gap"></ul>
  </div>
  </div>
</body>

</html>
